crossref/comparators/oracle/src/main/resources/schemas/events-body.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.onvif.org/ver10/events/wsdl" xmlns:wstop="http://docs.oasis-open.org/wsn/t-1" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" elementFormDefault="qualified" version="24.12" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tev="http://www.onvif.org/ver10/events/wsdl" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>
			<xs:import namespace="http://docs.oasis-open.org/wsn/t-1" schemaLocation="wsn-t1.xsd"/>
			<xs:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="wsn-b2.xsd"/>
			<!--  Message Request/Responses elements  -->
			<!--===============================-->
			<xs:element name="GetServiceCapabilities">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetServiceCapabilitiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Capabilities" type="tev:Capabilities">
							<xs:annotation>
								<xs:documentation>The capabilities for the event service is returned in the Capabilities element.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:complexType name="Capabilities">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>   <!-- first Vendor then ONVIF -->
				</xs:sequence>
				<xs:attribute name="WSSubscriptionPolicySupport" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates that the WS Subscription policy is supported.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="WSPausableSubscriptionManagerInterfaceSupport" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates that the WS Pausable Subscription Manager Interface is supported.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxNotificationProducers" type="xs:int">
					<xs:annotation>
						<xs:documentation>Maximum number of supported notification producers as defined by WS-BaseNotification.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxPullPoints" type="xs:int">
					<xs:annotation>
						<xs:documentation>Maximum supported number of notification pull points.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="PersistentNotificationStorage" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indication if the device supports persistent notification storage.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="EventBrokerProtocols" type="xs:string">
					<xs:annotation>
						<xs:documentation>A space separated list of supported event broker protocols as defined by the tev:EventBrokerProtocol datatype.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MaxEventBrokers" type="xs:int">
					<xs:annotation>
						<xs:documentation>Maxiumum number of event broker configurations that can be added to the device.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="MetadataOverMQTT" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates that metadata streaming over MQTT is supported</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:element name="Capabilities" type="tev:Capabilities"/>
			<!--===============================-->
			<xs:element name="CreatePullPointSubscription">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Filter" type="wsnt:FilterType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Optional XPATH expression to select specific topics.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InitialTerminationTime" type="wsnt:AbsoluteOrRelativeTimeType" nillable="true" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Initial termination time.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubscriptionPolicy" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Refer to <a href="http://docs.oasis-open.org/wsn/wsn-ws_base_notification-1.3-spec-os.htm">Web Services Base Notification 1.3 (WS-BaseNotification)</a>.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreatePullPointSubscriptionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SubscriptionReference" type="wsa:EndpointReferenceType">
							<xs:annotation>
								<xs:documentation>Endpoint reference of the subscription to be used for pulling the messages.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="wsnt:CurrentTime">
							<xs:annotation>
								<xs:documentation>Current time of the server for synchronization purposes.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="wsnt:TerminationTime">
							<xs:annotation>
								<xs:documentation>Date time when the PullPoint will be shut down without further pull requests.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="PullMessages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Timeout" type="xs:duration">
							<xs:annotation>
								<xs:documentation>Maximum time to block until this method returns.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MessageLimit" type="xs:int">
							<xs:annotation>
								<xs:documentation>Upper limit for the number of messages to return at once. A server implementation may decide to return less messages.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PullMessagesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CurrentTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>The date and time when the messages have been delivered by the web server to the client.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TerminationTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Date time when the PullPoint will be shut down without further pull requests.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="wsnt:NotificationMessage" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of messages. This list shall be empty in case of a timeout.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PullMessagesFaultResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MaxTimeout" type="xs:duration">
							<xs:annotation>
								<xs:documentation>Maximum timeout supported by the device.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaxMessageLimit" type="xs:int">
							<xs:annotation>
								<xs:documentation>Maximum message limit supported by the device.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="Seek">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UtcTime" type="xs:dateTime"><xs:annotation><xs:documentation>The date and time to match against stored messages.</xs:documentation></xs:annotation></xs:element>
						<xs:element name="Reverse" type="xs:boolean" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>Reverse the pull direction of PullMessages.</xs:documentation></xs:annotation></xs:element>
						<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SeekResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetSynchronizationPoint">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetSynchronizationPointResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetEventProperties">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetEventPropertiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TopicNamespaceLocation" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of topic namespaces supported.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="wsnt:FixedTopicSet">
							<xs:annotation>
								<xs:documentation>True when topicset is fixed for all times.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="wstop:TopicSet">
							<xs:annotation>
								<xs:documentation>Set of topics supported.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="wsnt:TopicExpressionDialect" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
							Defines the XPath expression syntax supported for matching topic expressions. <br/>
							The following TopicExpressionDialects are mandatory for an ONVIF compliant device :
							<ul type="disc">
										<li>http://docs.oasis-open.org/wsn/t-1/TopicExpression/Concrete</li>
										<li>http://www.onvif.org/ver10/tev/topicExpression/ConcreteSet.</li>
									</ul>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MessageContentFilterDialect" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
						Defines the XPath function set supported for message content filtering.<br/> 
						The following MessageContentFilterDialects should be returned if a device supports the message content filtering:
							<ul type="disc">
										<li>http://www.onvif.org/ver10/tev/messageContentFilter/ItemFilter.</li>
									</ul>
						A device that does not support any MessageContentFilterDialect returns a single empty url.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProducerPropertiesFilterDialect" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
						Optional ProducerPropertiesDialects. Refer to <a href="http://docs.oasis-open.org/wsn/wsn-ws_base_notification-1.3-spec-os.htm">Web Services Base Notification 1.3 (WS-BaseNotification)</a> for advanced filtering.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MessageContentSchemaLocation" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
							The Message Content Description Language allows referencing
							of vendor-specific types. In order to ease the integration of such types into a client application,
							the GetEventPropertiesResponse shall list all URI locations to schema files whose types are
							used in the description of notifications, with MessageContentSchemaLocation elements.<br/> 
							This list shall at least contain the URI of the ONVIF schema file.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation/>
							</xs:annotation>
						</xs:any>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="ChangedOnly">
				<xs:annotation><xs:documentation>When this element is included in the SubscriptionPolicy, the pullpoint shall not provide Initialized or Deleted events for Properties.</xs:documentation></xs:annotation>
			</xs:element>
			<!--===============================-->
			<xs:element name="AddEventBroker">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EventBroker" type="tev:EventBrokerConfig" minOccurs="1" maxOccurs="1">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddEventBrokerResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="DeleteEventBroker">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeleteEventBrokerResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetEventBrokers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetEventBrokersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EventBroker" type="tev:EventBrokerConfig" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:complexType name="EventBrokerConfig">
				<xs:sequence>
					<xs:element name="Address" type="xs:anyURI" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Event broker address in the format "scheme://host:port[/resource]". The supported schemes shall be returned by the EventBrokerProtocols capability. The resource part of the URL is only valid when using websocket. The Address must be unique.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TopicPrefix" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Prefix that will be prepended to all topics before they are published. This is used to make published topics unique for each device. TopicPrefix is not allowed to be empty.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UserName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User name for the event broker.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Password" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Password for the event broker. Password shall not be included when returned with GetEventBrokers.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateID" type="xs:token" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Optional certificate ID in the key store pointing to a client certificate to be used for authenticating the device at the message broker.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PublishFilter" type="wsnt:FilterType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Concrete Topic Expression to select specific event topics to publish.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QoS" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quality of service level to use when publishing. This defines the guarantee of delivery for a specific message: 0 = At most once, 1 = At least once, 2 = Exactly once.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Current connection status (see tev:ConnectionStatus for possible values).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertPathValidationPolicyID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The ID of the certification path validation policy used to validate the broker certificate. In case encryption is used but no validation policy is specified, the device shall not validate the broker certificate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MetadataFilter" type="wsnt:FilterType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Concrete Topic Expression to select specific metadata topics to publish.</xs:documentation>
						</xs:annotation>
					</xs:element>					
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<!--===============================-->
			<xs:simpleType name="EventBrokerProtocol">
				<xs:restriction base="xs:string">
					<xs:enumeration value="mqtt"/>
					<xs:enumeration value="mqtts"/>
					<xs:enumeration value="ws"/>
					<xs:enumeration value="wss"/>
				</xs:restriction>
			</xs:simpleType>
			<!--===============================-->
			<xs:simpleType name="ConnectionStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Offline"></xs:enumeration>
					<xs:enumeration value="Connecting"></xs:enumeration>
					<xs:enumeration value="Connected"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<!--===============================-->
		</xs:schema>
