crossref/comparators/oracle/src/main/resources/schemas/imaging-body.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tt="http://www.onvif.org/ver10/schema" xmlns:timg="http://www.onvif.org/ver20/imaging/wsdl" targetNamespace="http://www.onvif.org/ver20/imaging/wsdl" elementFormDefault="qualified" version="19.06" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<xs:import namespace="http://www.onvif.org/ver10/schema" schemaLocation="onvif.xsd"/>
			<!--  Message Request/Responses elements  -->
			<!--===============================-->
			<xs:element name="GetServiceCapabilities">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetServiceCapabilitiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Capabilities" type="timg:Capabilities">
							<xs:annotation>
								<xs:documentation>The capabilities for the imaging service is returned in the Capabilities element.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:complexType name="Capabilities">
				<xs:sequence>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>   <!-- first Vendor then ONVIF -->
				</xs:sequence>
				<xs:attribute name="ImageStabilization" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates whether or not Image Stabilization feature is supported.
						The use of this capability is deprecated, a client should use GetOption to find out if image stabilization is supported.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="Presets" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates whether or not Imaging Presets feature is supported.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="AdaptablePreset" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates whether or not imaging preset settings can be updated.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<xs:element name="Capabilities" type="timg:Capabilities"/>
			<!--===============================-->
			<xs:element name="GetImagingSettings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
							Reference token to the VideoSource for which the ImagingSettings.
						</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetImagingSettingsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ImagingSettings" type="tt:ImagingSettings20">
							<xs:annotation>
								<xs:documentation>
								ImagingSettings for the VideoSource that was requested.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetImagingSettings">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken"/>
						<xs:element name="ImagingSettings" type="tt:ImagingSettings20"/>
						<xs:element name="ForcePersistence" type="xs:boolean" maxOccurs="1" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetImagingSettingsResponse">
				<xs:complexType/>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetOptions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
							Reference token to the VideoSource for which the imaging parameter options are requested.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetOptionsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ImagingOptions" type="tt:ImagingOptions20">
							<xs:annotation>
								<xs:documentation>
							Valid ranges for the imaging parameters that are categorized as device specific.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="Move">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
							Reference to the VideoSource for the requested move (focus) operation.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Focus" type="tt:FocusMove">
							<xs:annotation>
								<xs:documentation>
							Content of the requested move (focus) operation.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MoveResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetMoveOptions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
							Reference token to the VideoSource for the requested move options.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetMoveOptionsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MoveOptions" type="tt:MoveOptions20">
							<xs:annotation>
								<xs:documentation>
							Valid ranges for the focus lens move options.
							</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="Stop">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
								Reference token to the VideoSource where the focus movement should be stopped.
						</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StopResponse">
				<xs:complexType>
					<xs:sequence>
          </xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
						Reference token to the VideoSource where the imaging status should be requested.
						</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetStatusResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Status" type="tt:ImagingStatus20">
							<xs:annotation>
								<xs:documentation>
						Requested imaging status.
						</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:simpleType name="ImagingPresetType">
				<xs:annotation>
					<xs:documentation>Describes standard Imaging Preset types, used to facilitate Multi-language support and client display.
					"Custom" Type shall be used when Imaging Preset Name does not match any of the types included in the standard classification.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Custom"/>
					<xs:enumeration value="ClearWeather"/>
					<xs:enumeration value="Cloudy"/>
					<xs:enumeration value="Fog"/>
					<xs:enumeration value="Rain"/>
					<xs:enumeration value="Snowing"/>
					<xs:enumeration value="Snow"/>
					<xs:enumeration value="WDR"/>
					<xs:enumeration value="Shade"/>
					<xs:enumeration value="Night"/>
					<xs:enumeration value="Indoor"/>
					<xs:enumeration value="Fluorescent"/>
					<xs:enumeration value="Incandescent"/>
					<xs:enumeration value="Sodium(Natrium)"/>
					<xs:enumeration value="Sunrise(Horizon)"/>
					<xs:enumeration value="Sunset(Rear)"/>
					<xs:enumeration value="ExtremeHot"/>
					<xs:enumeration value="ExtremeCold"/>
					<xs:enumeration value="Underwater"/>
					<xs:enumeration value="CloseUp"/>
					<xs:enumeration value="Motion"/>
					<xs:enumeration value="FlickerFree50"/>
					<xs:enumeration value="FlickerFree60"/>
				</xs:restriction>
			</xs:simpleType>
			<!--===============================-->
			<xs:complexType name="ImagingPreset">
				<xs:annotation>
					<xs:documentation>Type describing the Imaging Preset settings.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Name" type="tt:Name">
						<xs:annotation>
							<xs:documentation>Human readable name of the Imaging Preset.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="token" type="tt:ReferenceToken" use="required">
					<xs:annotation>
						<xs:documentation>Unique identifier of this Imaging Preset.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Indicates Imaging Preset Type. Use timg:ImagingPresetType. 
						Used for multi-language support and display.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:anyAttribute processContents="lax"/>
			</xs:complexType>
			<!--===============================-->
			<xs:element name="GetPresets">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
									A reference to the VideoSource where the operation should take place.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPresetsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Preset" type="timg:ImagingPreset" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation> 
									List of Imaging Presets which are available for the requested VideoSource.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="GetCurrentPreset">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation> Reference token to the VideoSource where the current Imaging Preset should be requested.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetCurrentPresetResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Preset" type="timg:ImagingPreset" minOccurs="0">
							<xs:annotation>
								<xs:documentation> Current Imaging Preset in use for the specified Video Source.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
			<xs:element name="SetCurrentPreset">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VideoSourceToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation>
								Reference token to the VideoSource to which the specified Imaging Preset should be applied.
						</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PresetToken" type="tt:ReferenceToken">
							<xs:annotation>
								<xs:documentation> Reference token to the Imaging Preset to be applied to the specified Video Source. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SetCurrentPresetResponse">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<!--===============================-->
		</xs:schema>
