crossref/comparators/oracle/src/main/resources/schemas/ws-addr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Minimal stub for http://www.w3.org/2005/08/addressing/ws-addr.xsd -->
<!-- Bundled to satisfy events.wsdl xs:import without network access. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wsa="http://www.w3.org/2005/08/addressing"
           targetNamespace="http://www.w3.org/2005/08/addressing"
           elementFormDefault="qualified">

  <xs:complexType name="EndpointReferenceType">
    <xs:sequence>
      <xs:element name="Address" type="xs:anyURI"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="EndpointReference" type="wsa:EndpointReferenceType"/>

  <xs:complexType name="ReferenceParametersType">
    <xs:sequence>
      <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
